body {
    font-family: Arial, sans-serif;
    background-color: #0d4055;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    background: #0e4157;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-con {
    background: #fff;
    padding: 20px;
    width: 100%;
    margin-bottom: 48px;
}

.title {
    margin: 0;
    font-size: 24px;
    color: grey;
    font-weight: 400;
}

.main-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.input-con {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    margin-right: 20px;
    height: 300px;
}

.input-con input, .input-con textarea {
    margin-bottom: 10px;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-con textarea{
    height:300px;
}

.input-con button {
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-con button:hover {
    background: #218838;
}

.tasks-container {
    flex: 2;
    padding: 10px;
    border-radius: 4px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 5px;
color: #fff;
}

.task-title, .task-description, .task-delete {
    flex: 1;
    text-align: center;
}

hr {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
overflow-y: auto;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid #eee;
    background: #fff;
    margin-bottom: 10px;
}

.task-item p {
    margin: 0;
}

.task-item .task-delete button {
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.task-item .task-delete button:hover {
    background: #c82333;
}
